<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>607FACCF1AFB9204008FA782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>607FACE41AFB9204008FA782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDAB11631D79FBA100BEC7B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD115C81D592A12004A9DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD1166F1D592B95004A9DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD116B91D592C9F004A9DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
